@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure html and body take the full height */

body {
  /* height: 100%;
  margin: 0;
  padding: 0; */
  background-color: rgb(71, 70, 70); /* Set the background color to dark gray */
  color: white; /* Set text color to white for better contrast */
}
